<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-factura-heading" data-cy="FacturaCreateUpdateHeading" jhiTranslate="labDentalistApp.factura.home.createOrEditLabel">
        Create or edit a Factura
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.numeroFactura" for="field_numeroFactura"
            >Numero Factura</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroFactura"
            id="field_numeroFactura"
            data-cy="numeroFactura"
            formControlName="numeroFactura"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.fechaEmision" for="field_fechaEmision"
            >Fecha Emision</label
          >
          <div class="d-flex">
            <input
              id="field_fechaEmision"
              data-cy="fechaEmision"
              type="datetime-local"
              class="form-control"
              name="fechaEmision"
              formControlName="fechaEmision"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.tipoPago" for="field_tipoPago">Tipo Pago</label>
          <input type="text" class="form-control" name="tipoPago" id="field_tipoPago" data-cy="tipoPago" formControlName="tipoPago" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.fechaVencimiento" for="field_fechaVencimiento"
            >Fecha Vencimiento</label
          >
          <div class="d-flex">
            <input
              id="field_fechaVencimiento"
              data-cy="fechaVencimiento"
              type="datetime-local"
              class="form-control"
              name="fechaVencimiento"
              formControlName="fechaVencimiento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.decripcion" for="field_decripcion">Decripcion</label>
          <input
            type="text"
            class="form-control"
            name="decripcion"
            id="field_decripcion"
            data-cy="decripcion"
            formControlName="decripcion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.subtotal" for="field_subtotal">Subtotal</label>
          <input type="number" class="form-control" name="subtotal" id="field_subtotal" data-cy="subtotal" formControlName="subtotal" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.importePagado" for="field_importePagado"
            >Importe Pagado</label
          >
          <input
            type="number"
            class="form-control"
            name="importePagado"
            id="field_importePagado"
            data-cy="importePagado"
            formControlName="importePagado"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.importeAPagar" for="field_importeAPagar"
            >Importe A Pagar</label
          >
          <input
            type="number"
            class="form-control"
            name="importeAPagar"
            id="field_importeAPagar"
            data-cy="importeAPagar"
            formControlName="importeAPagar"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.factura.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
